<h2>Patient form</h2>
<p>
    <% if (patient) { %>
        New patient
    <% } else { %>
        Edit patient
    <% } %>
</p>
<% if (flash) { %>
    <p>{flash}</p>
<% } %>
<div class="content">
    <div>
        <form name="patient" method="<% if (patient) { %>put<% } else { %>post<% } %>"
            action="/patients <% if (patient) { %>/<%= patient._id %><% } %>">
            <div class="row">
                <label>Patient_id</label>
                <input type="text" name="patient_id" value="<%= patient.patient_id %>">
            </div>
            <div class="row">
                <label>Ssn</label>
                <input type="text" name="ssn" value="<%= patient.ssn %>">
            </div>
            <div class="row">
                <label>Firstname</label>
                <input type="text" name="firstname" value="<%= patient.firstname %>">
            </div>
            <div class="row">
                <label>Lastname</label>
                <input type="text" name="lastname" value="<%= patient.lastname %>">
            </div>
            <div class="row">
                <label>Email</label>
                <input type="text" name="email" value="<%= patient.email %>">
            </div>
            <div class="row">
                <label>Gender</label>
                <input type="text" name="gender" value="<%= patient.gender %>">
            </div>
            <div class="row">
                <label>Blood_type</label>
                <input type="text" name="blood_type" value="<%= patient.blood_type %>">
            </div>
            <div class="row">
                <label>Tel_number</label>
                <input type="text" name="tel_number" value="<%= patient.tel_number %>">
            </div>
            <div class="row">
                <label>Physical_record</label>
                <input type="text" name="physical_record" value="<%= patient.physical_record %>">
            </div>
            <div class="row controls">
                <input type="submit" value="Save">
            </div>
        </form>
        <% if (patient) {%>
            <form method="delete" action="/patientss<%= patient._id %>">
                <input type="submit" value="Delete"/>
            </form>
        <% } %>
    </div>
</div>
