<!doctype html>

    <%- include ../include/header.ejs %>

    <body ng-app="patients" ng-controller="InfoCtrl" ng-init="init('<%= patient_id %>')">

    <%- include ../include/snap_header.ejs %>
      <div class="row">
        <div class="col-md-8" >
          <div class="panel panel-info" style="color: black; width: auto ; font-size: 20px">
              <div class="panel-heading">
                <h3 class="panel-title" style="font-size: 30px">Patient's Info</h3>
              </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="/images/patient_pic.jpg" class="img-circle img-responsive"> </div>
                    <div class=" col-md-9 col-lg-9 "> 
                      <h1>Name : {{ patient.firstname +" "+ patient.lastname }}</h1>
                      <table class="table table-user-information ">
                        <tbody>
                          <tr>
                            <td>Patient ID:</td>
                            <td>{{ patient.patient_id }}</td>
                          </tr>
                          <tr>
                            <td>SSN:</td>
                            <td>{{  patient.ssn }}</td>
                          </tr>
                          <tr>
                            <td>Address:</td>
                            <td>{{ patient.address }}</td>
                          </tr>
                       
                             <tr>
                                 <tr>
                            <td>Gender</td>
                            <td>{{ patient.gender }}</td>
                          </tr>
                          <tr>
                            <td>Blood Type:</td>
                            <td>{{ patient.blood_type }}</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                            <td>{{ patient.email }}</td>
                          </tr>
                            <td>Phone Number</td>
                            <td>
                              <ul ng-repeat="tel_num in patient.tel_number"> 
                                <l>{{ tel_num }}</l>
                              </ul>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>

    <%- include physical_record_show.ejs %>

    <%- include medical_record_show.ejs %>

    <%- include prescription_show.ejs %>

    <%- include ../include/snap_footer.ejs %>

    <%- include physical_record_form.ejs %>

    <%- include medical_record_form.ejs %>

    <%- include prescription_form.ejs %>

    <%- include ../pharmacist/prescription_medicine_record.ejs %>

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="/javascripts/patients_app.js"></script>
    <!-- endbuild -->   

    

  </body>
</html>