<h2>Physicalrecord form</h2>
<p>
    <% if (physicalrecord) { %>
        New physicalrecord
    <% } else { %>
        Edit physicalrecord
    <% } %>
</p>
<% if (flash) { %>
    <p>{flash}</p>
<% } %>
<div class="content">
    <div>
        <form name="physicalrecord" method="<% if (physicalrecord) { %>put<% } else { %>post<% } %>"
            action="/physicalrecords <% if (physicalrecord) { %>/<%= physicalrecord._id %><% } %>">
            <div class="row">
                <label>Date</label>
                <input type="text" name="date" value="<%= physicalrecord.date %>">
            </div>
            <div class="row">
                <label>Weight</label>
                <input type="text" name="weight" value="<%= physicalrecord.weight %>">
            </div>
            <div class="row">
                <label>Height</label>
                <input type="text" name="height" value="<%= physicalrecord.height %>">
            </div>
            <div class="row">
                <label>Blood_pressure</label>
                <input type="text" name="blood_pressure" value="<%= physicalrecord.blood_pressure %>">
            </div>
            <div class="row">
                <label>Pulse:</label>
                <input type="text" name="pulse:" value="<%= physicalrecord.pulse: %>">
            </div>
            <div class="row">
                <label>Temperature</label>
                <input type="text" name="temperature" value="<%= physicalrecord.temperature %>">
            </div>
            <div class="row controls">
                <input type="submit" value="Save">
            </div>
        </form>
        <% if (physicalrecord) {%>
            <form method="delete" action="/physicalrecordss<%= physicalrecord._id %>">
                <input type="submit" value="Delete"/>
            </form>
        <% } %>
    </div>
</div>
